.header {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $gray;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 180px;
  }

  &__caption {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: right;
    color: $dark;
  }

  &__link {
    /* stylelint-disable-next-line value-keyword-case */
    border-bottom: 1px solid currentColor;
    font-weight: 600;
    font-size: 20px;
    text-align: right;
    text-decoration: none;
    color: $accent;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: $accent;
    gap: 4px;
  }

  &__icon {
    width: 16px;
    height: 16px;
    /* stylelint-disable-next-line value-keyword-case */
    fill: currentColor;
  }
}
