<section class="news">
  <div class="container">
    <h2 class="section-heading news__heading">Новости</h2>
    <div class="news__wrapper">
      <button class="button-reset news__button news__button--prev">
        <svg class="news__icon">
          <use xlink:href="img/sprite.svg#left"></use>
        </svg>
      </button>
      <div class="news__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <article class="news-article">
              <img src="img/news-1.jpg" alt="Изображение новости" class="news-article__image">
              <div class="news-article__inner">
                <h3 class="news-article__heading">НПП «ПИОНЕР» подтвердило свои компетенции в области консультирования и изготовления</h3>
                <div class="news-article__bottom">
                  <a href="#" class="news-article__link">Читать далее</a>
                  <time class="news-article__date" datetime="2020-07-20">20.07.2020</time>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="news-article">
              <img src="img/news-2.jpg" alt="Изображение новости" class="news-article__image">
              <div class="news-article__inner">
                <h3 class="news-article__heading">Поздравляем коллектив регионального представительства «ПИОНЕР» с праздником!</h3>
                <div class="news-article__bottom">
                  <a href="#" class="news-article__link">Читать далее</a>
                  <time class="news-article__date" datetime="2020-07-18">18.07.2020</time>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="news-article">
              <img src="img/news-3.jpg" alt="Изображение новости" class="news-article__image">
              <div class="news-article__inner">
                <h3 class="news-article__heading">Перенос сроков проведения запланированных работ в 2020 году</h3>
                <div class="news-article__bottom">
                  <a href="#" class="news-article__link">Читать далее</a>
                  <time class="news-article__date" datetime="2020-06-20">20.06.2020</time>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="news-article">
              <img src="img/news-3.jpg" alt="Изображение новости" class="news-article__image">
              <div class="news-article__inner">
                <h3 class="news-article__heading">Перенос сроков проведения запланированных работ в 2020 году</h3>
                <div class="news-article__bottom">
                  <a href="#" class="news-article__link">Читать далее</a>
                  <time class="news-article__date" datetime="2020-06-20">20.06.2020</time>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
      <button class="button-reset news__button news__button--next">
        <svg class="news__icon">
          <use xlink:href="img/sprite.svg#right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
