<section class="products">
  <div class="container">
    <h2 class="section-heading products__heading">Продукция</h2>
    <ul class="products__list">
      <li class="products__item">
        <div class="products-card">
          <img src="img/products-1.png" alt="Сигнализатор уровня" width="200" class="products-card__image">
          <h3 class="products-card__heading">Сигнализатор уровня</h3>
          <a href="#" class="products-card__link">
            Подробнее
            <svg class="products-card__icon">
              <use xlink:href="img/sprite.svg#angle"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="products__item">
        <div class="products-card">
          <img src="img/products-2.png" alt="Датчики давления" width="200" class="products-card__image">
          <h3 class="products-card__heading">Датчики давления</h3>
          <a href="#" class="products-card__link">
            Подробнее
            <svg class="products-card__icon">
              <use xlink:href="img/sprite.svg#angle"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="products__item">
        <div class="products-card">
          <img src="img/products-3.png" alt="ПИД-регуляторы" width="200" class="products-card__image">
          <h3 class="products-card__heading">ПИД-регуляторы</h3>
          <a href="#" class="products-card__link">
            Подробнее
            <svg class="products-card__icon">
              <use xlink:href="img/sprite.svg#angle"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="products__item">
        <div class="products-card">
          <img src="img/products-4.png" alt="Калибратор давления" width="200" class="products-card__image">
          <h3 class="products-card__heading">Калибратор давления</h3>
          <a href="#" class="products-card__link">
            Подробнее
            <svg class="products-card__icon">
              <use xlink:href="img/sprite.svg#angle"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="products__item">
        <div class="products-card">
          <img src="img/products-5.png" alt="Корректор расхода газа" width="200" class="products-card__image">
          <h3 class="products-card__heading">Корректор расхода газа</h3>
          <a href="#" class="products-card__link">
            Подробнее
            <svg class="products-card__icon">
              <use xlink:href="img/sprite.svg#angle"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="products__item">
        <div class="products-card">
          <img src="img/products-6.png" alt="Манометры" width="200" class="products-card__image">
          <h3 class="products-card__heading">Манометры</h3>
          <a href="#" class="products-card__link">
            Подробнее
            <svg class="products-card__icon">
              <use xlink:href="img/sprite.svg#angle"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
